/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.notice-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}

.notice-content {
	white-space: pre-wrap; /* 줄바꿈 및 공백 유지 */
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    line-height: 1.6;
}

.notice-date {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

